html { 
  	background-color: #FFF68F;
  }

img {
    width: 300px;
    height: 300px;
    margin-right: auto;
    float:left;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 180px;
}

#header {
    background-color:#FFB90F;
    color:white;
    text-align:center;
    padding:5px;
}

#section {
    width:350px;
    color:white;
    float:right;
    padding:10px;
    margin-top: 50px;
    margin-bottom: 80px;
    margin-right: 300px;
    margin-left: 80px;
    background-color: #FFC125;
}

#footer {
    background-color:#FFB90F;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}