body {
      position: relative; 
  }
  #section1 {
  	padding-top:50px;
  	height:500px;
  	color: #fff; 
  	background-color: #1E88E5;
  	background-image: url("527901_576695029024849_1838428837_n.jpg");
  	margin-top: 50px;
  }
  #section2 {
  	padding-top:50px;
  	height:700px;
  	color: #fff; 
  	background-color: #F4B350;
  }
  #section3 {
  	padding-top:50px;
  	height:300px;
  	color: #fff; 
  	background-color: #F4D03F;
  }
  #section4 {
  	padding-top:50px;
  	height:800px;
  	color: #fff; 
  	background-color: #F7CA18;
  }
  #section5 {
  	padding-top:50px;
  	height:300px;
  	color: #fff; 
  	background-color: #F89406;
  }
#text1{
	margin-top: 100px;
	color: #6C7A89 ;
}

